{{!-- Nav --}}
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="mailto:info@company.com">dvc@shoes.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0925140305">0925140305</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>

{{!-- Header --}}
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
            DVC Shoes
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                </a>
                <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/shop" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cars"> High Jordan </a>
                            <a class="dropdown-item" href="/lego"> Jordan Low</a>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</nav>

{{!-- Banner --}}

<div class="container bg-light">
    <div class="row p-5">

        <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
                <h1 class="h1 text-success"><b>DVC</b> eCommerce</h1>
                <h3 class="h2">DVC Shop - Your Ultimate Destination for Shoes Enthusiasts</h3>
                <p>
                    Welcome to DVC Shop, your premier online destination for all things footwear! Immerse yourself in the world of style, comfort, and quality with our exquisite collection of shoes, designed to meet every occasion and taste.
                </p>
            </div>
        </div>
        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UCVxBJPJiv33MWY0ATlnneaRW6CEdb3FAA&s">
        </div>
    </div>
</div>

{{!-- Category --}}
<div class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Jordan and more
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 p-5 mt-3">
            <a class="d-block text-center" href="#">
                <img style="
                width: 222px; 
                height: 222px;
                object-fit: cover;"
                src="https://ktsneaker.com/upload/product/1-1-4297.jpg"
                
                    class="rounded-circle img-fluid border" hight="50px">
            </a>
            <h5 class="text-center mt-3 mb-3">Low Jordan</h5>
            <p class="text-center"><a class="btn btn-success" href="/shop/lego">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-6 p-5 mt-3">
            <a class="d-block text-center" href="#">
                <img style="
                width: 222px; 
                height: 222px;
                object-fit: cover;"
                    src="https://bizweb.dktcdn.net/100/336/177/products/1-12.jpg?v=1705307137717"
                    class="rounded-circle img-fluid border">
            </a>
            <h2 class="h5 text-center mt-3 mb-3">High Jordan</h2>
            <p class="text-center"><a class="btn btn-success" href="/shop/cars">Go Shop</a></p>
    </div>
</div>

{{!-- Featured Product --}}
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
            </div>
        </div>
        <div class="row">

{{!Phần "Featured Product" trong trang index hiển thị các sản phẩm thuộc loại "cars" vì phần mã sau đây sử dụng #each cars  
để lặp qua danh sách các đối tượng có trong biến cars và hiển thị chúng }}


            {{#each cars }}
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="/detail/{{ _id }}">
                        <img src="{{ image }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>Color: {{ color }}</li>
                            <li class="text-muted text-right">${{ price }}</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{ name }}</a>
                        <p class="card-text">{{ detail }}</p>
                        <p class="text-muted">Battery: {{#if battery}}Yes{{else}}No{{/if}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- End Featured Product -->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">DVC Shoes</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        So 2 Pham Van Bach, Cau Giay, Ha Noi
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:0925140305">092514305</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">dvc@shoes.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                   <li><a class="text-decoration-none" href="/shop/lego">Low Jordan</a></li>
                    <li><a class="text-decoration-none" href="/shop/cars">High Jordan</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light text-white" id="subscribeEmail"
                        placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->